 @import "bootstrap";

 .nav-item {
 margin-left: 3px;

 }

 .new-cocktail-button {
 margin-top: 10px;
 }

 .signup-form {
 	margin-top: 40px;
 	text-align: center;

 }

 .login-form {
 	margin-top: 40px;
 	text-align: center;
 }

 .cocktails {
 	border: 1px solid black;
 	margin-bottom: 10px;
 	text-align: center;
 }

 .filter-button {
 	text-align: center;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }


.jumbotron {
	margin-top: 10px;
	margin-bottom: 10px;
}

.picture {
	width: 200px;
}

.cocktail-form {
	margin-top: 40px;
 	text-align: center;

}







